@import "../../sass/variables";

.client-tabs {

    .btn-link {

        &:hover {
            color: $primary;
            text-decoration: none;
        }
    }
}

.client-list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;

    .client {
        display: none;
        flex-grow: 1;
        max-width: 20%;
        min-width: 20%;
        height: 120px;
        padding: 1rem;

        &.show {
            display: block;
        }
        
        .client-content {
            height: 100%;
            background: #fff;
        }
    }
}