@font-face {
  font-family: 'Sanuk';
  src: url('../fonts/sanuk/SanukWeb-Light.woff');
  src: url('../fonts/sanuk/SanukWeb-Light.woff#iefix') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sanuk';
  src: url('../fonts/sanuk/SanukWeb-LightItalic.woff');
  src: url('../fonts/sanuk/SanukWeb-LightItalic.woff#iefix') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Sanuk';
  src: url('../fonts/sanuk/SanukWeb.woff');
  src: url('../fonts/sanuk/SanukWeb.woff#iefix') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sanuk';
  src: url('../fonts/sanuk/SanukWeb-Italic.woff');
  src: url('../fonts/sanuk/SanukWeb-Italic.woff#iefix') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Sanuk';
  src: url('../fonts/sanuk/SanukWeb-Medium.woff');
  src: url('../fonts/sanuk/SanukWeb-Medium.woff#iefix') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sanuk';
  src: url('../fonts/sanuk/SanukWeb-MediumItalic.woff');
  src: url('../fonts/sanuk/SanukWeb-MediumItalic.woff#iefix') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Sanuk';
  src: url('../fonts/sanuk/SanukWeb-Bold.woff');
  src: url('../fonts/sanuk/SanukWeb-Bold.woff#iefix') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sanuk';
  src: url('../fonts/sanuk/SanukWeb-BoldItalic.woff');
  src: url('../fonts/sanuk/SanukWeb-BoldItalic.woff#iefix') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

