$black: #000000;
$red: #c70e2d;
$orange: #e47f12;
$purple: #8c0051;
$primary: $purple;

$enable-responsive-font-sizes: false;

$border-radius: 2rem;
$border-radius-sm: 2rem;
$border-radius-lg: 2rem;

$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25;
$font-size-sm:                $font-size-base * .75;

$theme-colors: (
        "primary": $purple,
        "orange": $orange,
        "red": $red,
        "purple": $purple,
        "grey": #f4f4f4
);

$container-max-widths: (
        xl: 1170px
) !default;

$font-family-base: 'Sanuk', Arial, Helvetica, sans-serif;
$font-weight-base: 100;
$font-weight-lighter:         100;
$font-weight-light:           400;
$font-weight-normal:          400;
$font-weight-bold:            500;
$font-weight-bolder:          700;

$headings-font-family: 'Sanuk', Arial, Helvetica, sans-serif;
$headings-font-weight: $font-weight-lighter;
$headings-color: $purple;

$navbar-nav-link-padding-x: 0.5rem;
$navbar-dark-color:                #fff;
$navbar-light-color:                $black;
$navbar-light-hover-color:          $black;
$navbar-light-active-color:         $black;
$navbar-light-disabled-color:       $black;
$navbar-light-toggler-border-color: $black;

$input-btn-padding-y:         .75rem;
$input-btn-padding-x:         1.5rem;
$input-btn-padding-y-sm:         .375rem;
$input-btn-padding-x-sm:          0.75rem;
$input-btn-padding-y-lg:         1.125rem;
$input-btn-padding-x-lg:         3rem;


$card-border-radius: 0;
$card-bg: transparent;
$card-border-color: transparent;
$card-spacer-x: 0;

$headline-scaling: ();
$headline-scaling: map-merge(
  (
          xs: 0.8,
          sm: 0.85,
          md: 0.9,
          lg: 0.95,
          xl: 1
  ),
  $headline-scaling
);

$text-scaling: ();
$text-scaling: map-merge(
    (
            xs: 0.8,
            sm: 0.85,
            md: 0.9,
            lg: 0.95,
            xl: 1
    ),
    $text-scaling
);
