@import "variables";

@import 'mixins/rem';
@import 'mixins/unitize';

@import "node_modules/bootstrap/scss/bootstrap";
@import "_fonts";
@import "../components/svg-icon/icon";
@import "../components/slick-slider/slider";
@import "../components/animated-slider/animated-slider";
@import "../components/picture/picture";
@import "../components/image-text/image-text";
@import "../components/megamenu/megamenu";
@import "../components/card/card";
@import "../components/button/button";
@import "../components/filterable-slider/filterable-slider";
@import "../components/price-table/price-table";
@import "components/lists";
@import "components/heading";
@import "components/typography";
@import "components/navs";
@import "components/cards";
@import "components/dropdowns";
@import "components/checkbox";

@import "animated";

body {
  min-width: 320px;
}

b,
strong {
  font-weight: $font-weight-bold;
}

