<section class="price-table">
    <div class="price-table__features price-table__column">
        <div class="price-table__title">&nbsp;</div>
        <ul>
            <li>Users</li>
            <li>Manage Customer Requests</li>
            <li>Import IPC1752A Format</li>
            <li>Multi-Answer</li>
            <li>Shared Cloud</li>
            <li>Organizations</li>
            <li>Unlimited Number of Suppliers</li>
            <li>Unlimited Number of Parts</li>
            <li>Master Data Management</li>
            <li>Reuse Answers</li>
            <li>Campaign Management</li>
            <li>Centralize, Track, and Manage Your Supply Chain</li>
            <li>Export in IPC1752A Format</li>
            <li>Analysis Against Regulations</li>
            <li>Regulations included</li>
            <li>Simple BoM Management</li>
            <li>CoC Statement Generation</li>
            <li>Included Tokens</li>
            <li>Document Requests</li>
            <li>Questionnaire Requests</li>
            <li>Embedded Questionnaire Editor</li>
            <li>Questionnaire Statistics</li>
            <li>Questionnaire Ratings</li>
            <li>Share Documents with Suppliers</li>
            <li>Supplier Statistics</li>
            <li>Purchase Parts Statistics</li>
            <li>Unlimited Users</li>
        </ul>
    </div>

    <div class="starter price-table__column">
        <div class="price-table__title">Basic</div>
        <ul>
            <li data-feature="Users">2</li>
            <li data-feature="Manage Customer Requests">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Import IPC1752A Format">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Multi-Answer">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Shared Cloud">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}
            <li data-feature="Organizations"> - </li>
            <li data-feature="Unlimited Number of Suppliers"> - </li>
            <li data-feature="Unlimited Number of Parts"> - </li>
            <li data-feature="Master Data Management"> - </li>
            <li data-feature="Reuse Answers"> - </li>
            <li data-feature="Campaign Management"> - </li>
            <li data-feature="Centralize, Track, and Manage Your Supply Chain"> - </li>
            <li data-feature="Export in IPC1752A Format"> - </li>
            <li data-feature="Analysis Against Regulations"> - </li>
            <li data-feature="Regulations included"> - </li>
            <li data-feature="Simple BoM Management"> - </li>
            <li data-feature="CoC Statement Generation"> - </li>
            <li data-feature="Included Tokens"> - </li>
            <li data-feature="Document Requests"> - </li>
            <li data-feature="Questionnaire Requests"> - </li>
            <li data-feature="Embedded Questionnaire Editor"> - </li>
            <li data-feature="Questionnaire Statistics"> - </li>
            <li data-feature="Questionnaire Ratings"> - </li>
            <li data-feature="Share Documents with Suppliers"> - </li>
            <li data-feature="Supplier Statistics"> - </li>
            <li data-feature="Purchase Parts Statistics"> - </li>
            <li data-feature="Unlimited Users"> - </li>
            <li class="price-table__price" data-feature="Monthly costs (paid annualy)"> FREE </li>
            <li class="price-table__button"> <a class="btn btn-primary" href="#">Start Free</a> </li>
        </ul>
    </div>

    <div class="personal price-table__column">
        <div class="price-table__title">Essentials</div>

        <ul>
            <li data-feature="Users">2</li>
            <li data-feature="Manage Customer Requests">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Import IPC1752A Format">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Multi-Answer">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Shared Cloud">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Organizations">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Unlimited Number of Suppliers">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Unlimited Number of Parts">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Master Data Management">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Reuse Answers">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Campaign Management">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Centralize, Track, and Manage Your Supply Chain">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Export in IPC1752A Format">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Analysis Against Regulations">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Regulations included">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Simple BoM Management">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="CoC Statement Generation">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Included Tokens">300</li>
            <li data-feature="Document Requests"> - </li>
            <li data-feature="Questionnaire Requests"> - </li>
            <li data-feature="Embedded Questionnaire Editor"> - </li>
            <li data-feature="Questionnaire Statistics"> - </li>
            <li data-feature="Questionnaire Ratings"> - </li>
            <li data-feature="Share Documents with Suppliers"> - </li>
            <li data-feature="Supplier Statistics"> - </li>
            <li data-feature="Purchase Parts Statistics"> - </li>
            <li data-feature="Unlimited Users"> - </li>
            <li class="price-table__price" data-feature="Monthly costs (paid annualy)"> 450 &euro; </li>
            <li class="price-table__button"> <a class="btn btn-primary" href="#">Essential</a> </li>
        </ul>
    </div>

    <div class="business price-table__column">
        <div class="price-table__title">Professional</div>

        <ul>
            <li data-feature="Users">2</li>
            <li data-feature="Manage Customer Requests">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Import IPC1752A Format">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Multi-Answer">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Shared Cloud">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Organizations">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Unlimited Number of Suppliers">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Unlimited Number of Parts">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Master Data Management">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Reuse Answers">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Campaign Management">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Centralize, Track, and Manage Your Supply Chain">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Export in IPC1752A Format">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Analysis Against Regulations">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Regulations included">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Simple BoM Management">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="CoC Statement Generation">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Included Tokens">600</li>
            <li data-feature="Document Requests">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Questionnaire Requests">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Embedded Questionnaire Editor">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Questionnaire Statistics">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Questionnaire Ratings">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Share Documents with Suppliers">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Supplier Statistics">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Purchase Parts Statistics">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Unlimited Users"> - </li>
            <li class="price-table__price" data-feature="Monthly costs (paid annualy)"> 900 &euro; </li>
            <li class="price-table__button"> <a class="btn btn-primary" href="#">Go Pro</a> </li>
        </ul>
    </div>

    <div class="unlimited price-table__column">
        <div class="price-table__title">Enterprise</div>

        <ul>
            <li data-feature="Users">2</li>
            <li data-feature="Manage Customer Requests">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Import IPC1752A Format">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Multi-Answer">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Shared Cloud">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Organizations">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Unlimited Number of Suppliers">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Unlimited Number of Parts">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Master Data Management">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Reuse Answers">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Campaign Management">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Centralize, Track, and Manage Your Supply Chain">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Export in IPC1752A Format">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Analysis Against Regulations">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Regulations included">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Simple BoM Management">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="CoC Statement Generation">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Included Tokens">Unlimited</li>
            <li data-feature="Document Requests">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Questionnaire Requests">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Embedded Questionnaire Editor">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Questionnaire Statistics">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Questionnaire Ratings">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Share Documents with Suppliers">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Supplier Statistics">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Purchase Parts Statistics">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li data-feature="Unlimited Users">{% include "../svg-icon/icon.twig" with { 'icon': 'checked', 'size': 16} %}</li>
            <li class="price-table__price price-table__price--small" data-feature="Monthly costs (paid annualy)"> upon request </li>
            <li class="price-table__button"> <a class="btn btn-primary" href="#">Request a quote</a> </li>
        </ul>


    </div>
</section>
