.price-table {
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
  }

  &__column {
    float: left;
    width: 50%;
    text-align: center;
    border-right: 5px solid white;

    @include media-breakpoint-up(lg) {
      float: none;
      width: auto;
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    &:last-child {
      border-right:none;
    }

    ul {
      li {
        padding: 5px;
        border-top: 1px solid white;

        @include media-breakpoint-up(lg) {
          padding: 10px;
          border-top: 5px solid white;
        }


        &:nth-child(odd) {
          background: #f4f4f4;
        }

        &:before {
          content:attr(data-feature) ':';
          display: block;
          margin-bottom: 2px;
          font-weight: 700;
          font-size: 0.8rem;

          @include media-breakpoint-up(lg) {
            display: none;
          }
        }
      }
    }

    a {
      display:block;
      padding:10px 0;
      font-weight:700;
      color:white;
      text-decoration:none;
      border-top:1px solid white;
      border-bottom:1px solid white;
      -webkit-transition:background-color .2s linear, color .2s linear;
      -moz-transition:background-color .2s linear, color .2s linear;
      -ms-transition:background-color .2s linear, color .2s linear;
      -o-transition:background-color .2s linear, color .2s linear;
      transition:background-color .2s linear, color .2s linear;

    }
  }

  &__features {
    display:none;

    .price-table__title {
      border-color: transparent;
    }

    @include media-breakpoint-up(lg) {
      display: block;
      flex-grow: 2;
      font-size: 0.9rem;
      line-height: 1.5rem;
    }

    ul {

      text-align: left;
      font-weight: 500;
      li:before {
        display: none;
      }
    }
  }

  &__title {
    border: 2px solid $primary;
    border-radius: 2rem;
    display: inline-block;
    @include unitize(padding, 5 20);
    @include unitize(margin-bottom, 25);
    text-align: center;
  }

  &__price {
    @include unitize(font-size, 32);
    @include unitize(line-height, 48);

    &--small {
      @include unitize(font-size, 20);
    }
  }

  &__button {
    background: transparent !important;
  }
}
