.image-text {

  &__text {
    padding: $spacer * 0.5;
  }

  @include media-breakpoint-up(md) {

    display: flex;
    flex-wrap: wrap;

    &__image {
      width: percentage(1 / 3);
    }

    &__text {
      width: percentage(1 - (1 / 3));
      padding: $spacer;
    }
  }

  &--image-right {
    @include media-breakpoint-up(md) {

    }
  }
}
