<div class="animated-slider" data-animated-slider="true">
    {% block slides %}
        <div class="animated-slider__slide">
            <picture>
                <source media="(min-width: 1200px)" data-lazy-srcset="/assets/img/slider/slider-company-1920x768.jpg"/>
                <source media="(min-width: 992px)" data-lazy-srcset="/assets/img/slider/slider-company-1920x768.jpg"/>
                <source media="(min-width: 768px)" data-lazy-srcset="/assets/img/slider/slider-company-1920x768.jpg"/>
                <source media="(min-width: 576px)" data-lazy-srcset="//via.placeholder.com/768x700"/>
                <source media="(min-width: 0px)" data-lazy-srcset="//via.placeholder.com/576x700"/>
                <img data-lazy="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="img-fluid" alt="" />
            </picture>

            <div class="animated-slider__container">
                <div class="animated-slider__content" data-controller="animated-slider/slide/content">
                    <div class="animated-slider__headline">iPoint is your partner for Product Compliance and Sustainability</div>

                    <p>iPoint empowers companies to collect, analyze and report all necessary data to assess the environmental, social, and economic impacts of their products and related processes.</p>
                    <a href="#" class="btn btn-red">Learn more</a>
                </div>
            </div>
        </div>
        <div class="animated-slider__slide">
            <picture>
                <source media="(min-width: 1200px)" data-lazy-srcset="/assets/img/slider/news1-1920x768.jpg"/>
                <source media="(min-width: 992px)" data-lazy-srcset="/assets/img/slider/news1-1920x768.jpg"/>
                <source media="(min-width: 768px)" data-lazy-srcset="/assets/img/slider/news1-1920x768.jpg"/>
                <source media="(min-width: 576px)" data-lazy-srcset="//via.placeholder.com/768x700"/>
                <source media="(min-width: 0px)" data-lazy-srcset="//via.placeholder.com/576x700"/>
                <img data-lazy="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="img-fluid" alt="" />
            </picture>

            <div class="animated-slider__container">
                <div class="animated-slider__content" data-controller="animated-slider/slide/content">
                    <div class="animated-slider__headline">Joerg Walden wins Global CEO Excellence Award</div>

                    <p>iPoint's chief executive chosen as Best Environmental Compliance Software Solutions CEO<br />

                        We are proud to announce that iPoint CEO Joerg Walden has been recognized as “Best Environmental Compliance Software Solutions CEO (Europe)”.</p>
                    <a href="#" class="btn btn-orange">Find out more</a>
                </div>
            </div>



        </div>
    {% endblock %}
</div>


