<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ head_title }}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preload" as="font" href="/assets/fonts/sanuk/SanukWeb.woff" crossorigin=anonymous />
    <link rel="preload" as="font" href="/assets/fonts/sanuk/SanukWeb-Bold.woff" crossorigin=anonymous />
    <link rel="preload" as="font" href="/assets/fonts/sanuk/SanukWeb-BoldItalic.woff" crossorigin=anonymous />
    <link rel="preload" as="font" href="/assets/fonts/sanuk/SanukWeb-Italic.woff" crossorigin=anonymous />
    <link rel="preload" as="font" href="/assets/fonts/sanuk/SanukWeb-Light.woff" crossorigin=anonymous />
    <link rel="preload" as="font" href="/assets/fonts/sanuk/SanukWeb-LightItalic.woff" crossorigin=anonymous />
    <link rel="preload" as="font" href="/assets/fonts/sanuk/SanukWeb-Medium.woff" crossorigin=anonymous />
    <link rel="preload" as="font" href="/assets/fonts/sanuk/SanukWeb-MediumItalic.woff" crossorigin=anonymous />

    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body{% if body_class is defined and body_class is not empty %} class="{{ body_class }}"{% endif %}>

{% include '../_partials/header.twig' %}

{% block page %}{% endblock %}

{% include '../_partials/footer.twig' %}

<script defer async src="/assets/js/all.js"></script>

</body>
</html>
