{% extends '../../_layouts/default.twig' %}
{% set head_title = 'image-text' %}
{% set body_class = '' %}

{% block page %}
test1
<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            {% embed "../../components/image-text/image-text.twig" %}
                {% block text %}
                    test
                {% endblock %}
            {% endembed %}
        </div>
    </div>
</div>
    {% endblock %}

