.card {
  &-body {
    @include unitize(padding, 16);

    @include media-breakpoint-up(md) {
      @include unitize(padding, 32);
    }

    @include media-breakpoint-up(md) {
      @include unitize(padding, 48);
    }
  }
}
