<div class="card bg-white">
    {% block image %}
    <img class="img-fluid card-img-top"
         data-picture="true"
         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
         alt="card-image"
         data-picture-xs-src="//via.placeholder.com/576x200"
         data-picture-sm-src="//via.placeholder.com/768x200"
         data-picture-md-src="//via.placeholder.com/992x350"
         data-picture-lg-width="538"
         data-picture-lg-height="201"
         data-picture-lg-src="//via.placeholder.com/538x201"
         data-picture-xl-width="538"
         data-picture-xl-height="201"
         data-picture-xl-src="//via.placeholder.com/538x201">
    {% endblock %}
    <div class="card-body">
        {% block body %}
            <h5 class="card-title">{% block title %}Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.{% endblock %}</h5>
            <p class="card-text">{% block text %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.{% endblock %}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        {% endblock %}
    </div>
</div>
