{% extends './../_layouts/default.twig' %}
{% set head_title = 'Products' %}
{% set body_class = '' %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% include "../components/price-table/price-table.twig" %}
            </div>
        </div>
    </div>

{% endblock %}
