{% extends './../_layouts/default.twig' %}
{% set head_title = 'Anwendungen - Solutions' %}
{% set body_class = '' %}

{% block page %}
    {% embed "./../components/animated-slider/animated-slider.twig" with {} %}
        {% block slides %}
            <div class="animated-slider__slide">
                <picture>
                    <source media="(min-width: 1200px)" data-lazy-srcset="/assets/img/solutions/solutions.png"/>
                    <source media="(min-width: 992px)" data-lazy-srcset="/assets/img/solutions/solutions.png"/>
                    <source media="(min-width: 768px)" data-lazy-srcset="/assets/img/solutions/solutions.png"/>
                    <source media="(min-width: 576px)" data-lazy-srcset="//via.placeholder.com/768x700"/>
                    <source media="(min-width: 0px)" data-lazy-srcset="//via.placeholder.com/576x700"/>
                    <img data-lazy="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="img-fluid" alt="" />
                </picture>
            </div>
        {% endblock %}
    {% endembed %}

    <div class="container pb-5">
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="bg-grey p-5">
                    <img class="img-fluid"
                         data-picture="true"
                         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                         data-picture-xs-src="//via.placeholder.com/576x200"
                         data-picture-sm-src="//via.placeholder.com/768x200"
                         data-picture-md-src="//via.placeholder.com/992x350"
                         data-picture-lg-width="365"
                         data-picture-lg-height="280"
                         data-picture-lg-src="/assets/img/solutions/solutions-software.png"
                         data-picture-xl-width="365"
                         data-picture-xl-height="280"
                         data-picture-xl-src="/assets/img/solutions/solutions-software.png">

                    <ul class="list-unstyled mt-5 list--icons">
                        <li>
                            Management of your company’s one or more ECHA UUIDs required for SCIP submission
                        </li>
                        <li>
                            Extensive options of default settings allowing initial SCIP reporting on the basis of existing data
                        </li>
                        <li>
                            Management of product details and setting of SCIP relevance
                        </li>
                        <li>
                            Dossier Creation, Validation and Upload
                        </li>
                    </ul>

                    <a href="#" class="btn btn-primary">Contact an expert</a>
                </div>
            </div>
            <div class="col-12 col-md-7">
                {% embed "./../components/card/card.twig" with {} %}
                    {% block image %}{% endblock %}
                    {% block body %}
                    <b class="small">SCIP Compliance Software</b>
                    <h3>Our SCIP Compliance Solution</h3>

                    <p class="lead">iPoint Compliance SCIP Connector automates the creation of SCIP dossiers and the exchange of data with ECHA`s new SCIP database.</p>

                    <p>
                        Companies placing an article containing an SVHC above 0.1% on the EU market are required to submit information to the SCIP database from January 5th, 2021 onwards. With the majority of complex products containing SVHCs above 0.1% w/w, this requirement will impact most importers to and manufacturers within the European Union.
                        <br /><br />
                        <b>iPoint is member of the ECHA IT User Group</b><br />
                        As a official member of the IT User Group we provide input on the development of the system, share our ideas for improvement,  analyse different scenarios and help to identify the areas where extra attention is needed in order to provide adequate support/guidance. Based on our extensive expert knowlegde we have developed a connector for the automated information exchange between ECHA’s SCIP database and iPoint Compliance.<br />
                        <br />
                        <b>iPoint's SCIP Connector</b><br />
                        With the iPoint SCIP Connector we offer a system-to-system solution that allows a bulk upload of data to ECHA’s SCIP database.<br />
                        <br />
                        For the latest updates on SCIP please visit our blog that we frequently update</p>
                    {% endblock %}
                {% endembed %}

            </div>
        </div>
    </div>

    <img class="img-fluid w-100"
        data-picture="true"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-picture-xs-src="/assets/img/solutions/formal-avatar.png"
        data-picture-sm-src="/assets/img/solutions/formal-avatar.png"
        data-picture-md-src="/assets/img/solutions/formal-avatar.png"
        data-picture-lg-src="/assets/img/solutions/formal-avatar.png"
        data-picture-xl-src="/assets/img/solutions/formal-avatar.png">

    <div class="bg-grey">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 p-3">
                    <div class="card bg-white h-100">
                        <div class="card-body py-4 px-4">
                            <h2 class="text-center">
                                {% include "../components/svg-icon/icon.twig" with { 'icon': 'offer', 'size': 32, 'class': 'icon-vertical-middle'} %} Benefits
                            </h2>
                            <ul class="list-unstyled list--icons mt-3">
                                <li>
                                    Easy handling of large amounts of data
                                </li>
                                <li>
                                    Collection of all data in one place
                                </li>
                                <li>
                                    Collection of missing data
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 p-3">
                    <div class="card bg-white h-100">
                        <div class="card-body py-4 px-4">
                            <h2 class="text-center">
                                {% include "../components/svg-icon/icon.twig" with { 'icon': 'listen', 'size': 32} %} Features
                            </h2>
                            <ul class="list-unstyled list--icons mt-3">
                                <li>
                                    Automated analysis and reporting bulk upload
                                </li>
                                <li>
                                    Setting and management of default values
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 p-3">
                    <div class="card bg-white h-100">
                        <div class="card-body py-4 px-4">
                            <h2 class="text-center">
                                {% include "../components/svg-icon/icon.twig" with { 'icon': 'psychiatrie', 'size': 32} %} Functionalities
                            </h2>
                            <ul class="list-unstyled list--icons mt-3">
                                <li>
                                    Overview of competeness of data
                                </li>
                                <li>
                                    Task management and change management
                                </li>
                                <li>
                                    Concise management of dossier information (incl. history and versions)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </row>
        </div>
    </div>

    <div class="bg-white py-5">
        <div class="container">
            <div class="row align-items-center pb-3">
                <div class="col-lg-7 col-md-6 col-12 pr-md-5">
                    <img class="img-fluid w-100"
                        data-picture="true"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-picture-xs-src="/assets/img/solutions/video.png"
                        data-picture-sm-src="/assets/img/solutions/video.png"
                        data-picture-md-src="/assets/img/solutions/video.png"
                        data-picture-lg-src="/assets/img/solutions/video.png"
                        data-picture-xl-src="/assets/img/solutions/video.png">
                </div>
                <div class="col-lg-5 col-md-6 col-12 pl-4">
                    <b class="small">VIDEO</b>
                    <h3>iPoint Compliance: SCIP Database Connector</h3>

                    <p>
                        See a live demo of the iPoint Compliance SCIP Connector that automates the creation
                        of SCIP dossiers and the exchange of data with ECHA's new SCIP database.
                    </p>

                    <small>Videolänge: 54:51 Minuten</small>
                </div>
            </div>
            <div class="row align-items-center pt-3">
                <div class="col-lg-5 col-md-6 order-2 order-md-1 col-12 pr-4">
                    <b class="small">VIDEO</b>
                    <h3>iPoint Compliance: Get ready for ECHA's SCIP database</h3>

                    <p>
                        Get an in-depth insight into SCIP database - What is required,
                        and how can you get started with iPoint Compliance.
                    </p>

                    <small>Videolänge: 54:51 Minuten</small>
                </div>
                <div class="col-lg-7 col-md-6 col-12 order-1 order-md-2 pl-md-5">
                    <img class="img-fluid w-100"
                        data-picture="true"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-picture-xs-src="/assets/img/solutions/video.png"
                        data-picture-sm-src="/assets/img/solutions/video.png"
                        data-picture-md-src="/assets/img/solutions/video.png"
                        data-picture-lg-src="/assets/img/solutions/video.png"
                        data-picture-xl-src="/assets/img/solutions/video.png">
                </div>
            </div>
        </div>
    </div>

    <div class="bg-grey">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-12 p-0">
                    <img class="img-fluid w-100"
                        data-picture="true"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-picture-xs-src="/assets/img/solutions/reporting.png"
                        data-picture-sm-src="/assets/img/solutions/reporting.png"
                        data-picture-md-src="/assets/img/solutions/reporting.png"
                        data-picture-lg-src="/assets/img/solutions/reporting.png"
                        data-picture-xl-src="/assets/img/solutions/reporting.png">
                </div>
                <div class="col-md-6 col-12 px-5">
                    <b class="small">WHITEPAPER</b>
                    <h3>SCIP Database Insights - Are you ready for SCIP reporting?</h3>

                    <p>
                        Be prepared for the upcoming challenges of the SCIP database
                    </p>

                    <button class="btn btn-primary">Download for free</button>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6 col-12 px-5 order-md-1 order-2">
                    <b class="small">WHITEPAPER</b>
                    <h3>FAQ: The Echa SCIP Database</h3>

                    <p>
                        We have received a lot of questions on the upcoming SCIP Database.
                        Here are the answers on the TOP 40 frequently asked questions.
                    </p>

                    <button class="btn btn-primary">Download for free</button>
                </div>
                <div class="col-md-6 col-12 p-0 order-md-2 order-1">
                    <img class="img-fluid w-100"
                        data-picture="true"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-picture-xs-src="/assets/img/solutions/echa-database.png"
                        data-picture-sm-src="/assets/img/solutions/echa-database.png"
                        data-picture-md-src="/assets/img/solutions/echa-database.png"
                        data-picture-lg-src="/assets/img/solutions/echa-database.png"
                        data-picture-xl-src="/assets/img/solutions/echa-database.png">
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white py-5">
        <div class="container">
            <div class="row align-items-center">
                <h3 class="col-12 text-center">Get in touch</h3>
                <div class="col-lg-6 col-12">
                    <div class="card card--contact">
                        <img class="img-fluid w-100"
                            data-picture="true"
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-picture-xs-src="/assets/img/solutions/hans.png"
                            data-picture-sm-src="/assets/img/solutions/hans.png"
                            data-picture-md-src="/assets/img/solutions/hans.png"
                            data-picture-lg-src="/assets/img/solutions/hans.png"
                            data-picture-xl-src="/assets/img/solutions/hans.png">
                        <div class="card-body">
                            <p class="small mb-0 font-weight-lighter">Hans-Gerhard Lang</p>
                            <p class="font-weight-bold mb-0">Europe and Asia Pacific</p>
                            <h4 class="text-white">
                                +49 7121 14489 777 or
                                {% include "../components/svg-icon/icon.twig" with { 'icon': 'email', 'size': 16} %}
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 pb-2">
                    <div class="card card--contact">
                        <img class="img-fluid w-100"
                            data-picture="true"
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-picture-xs-src="/assets/img/solutions/marc.png"
                            data-picture-sm-src="/assets/img/solutions/marc.png"
                            data-picture-md-src="/assets/img/solutions/marc.png"
                            data-picture-lg-src="/assets/img/solutions/marc.png"
                            data-picture-xl-src="/assets/img/solutions/marc.png">
                        <div class="card-body">
                            <p class="small mb-0 font-weight-lighter">Marc Church</p>
                            <p class="font-weight-bold mb-0">North America</p>
                            <h4 class="text-white">
                                +1 248 282 4085 or
                                {% include "../components/svg-icon/icon.twig" with { 'icon': 'email', 'size': 16} %}
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button class="btn btn-outline-primary">Need more information? Contact us now!</button>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-grey py-5">
        <div class="container">
            {% embed "./../components/filterable-slider/filterable-slider.twig" with {} %}
                {% block title %}
                    <h3 class="col-12 text-center">Trusted by companies of any size, in every industry, including</h3>
                {% endblock %}

                {% block filters %}
                    <div class="col-12">
                        <div class="client-tabs text-center mt-5" id="client-filters">
                            <button class="btn btn-outline-primary" data-filter-category="no-filter">No filter</button>
                            <button class="btn btn-link" data-filter-category="health">Health</button>
                            <button class="btn btn-link" data-filter-category="automotive">Automotive</button>
                            <button class="btn btn-link" data-filter-category="transport">Transport</button>
                            <button class="btn btn-link" data-filter-category="communication">Communication</button>
                            <button class="btn btn-link" data-filter-category="agriculture">Agriculture</button>
                            <button class="btn btn-link" data-filter-category="education">Education</button>
                        </div>
                    </div>
                {% endblock %}

                {% block content %}
                    <div class="col-12 pt-5 pb-3">
                        <div class="client-list" id="clients">
                            <div class="client show" data-category="health">
                                <div class="client-content">
                                    <img src="/assets/img/logo/al-350x210.png" class="img-fluid" />
                                </div>
                            </div>
                            <div class="client show" data-category="transport">
                                <div class="client-content">
                                    <img src="/assets/img/logo/ar-350x210.png" class="img-fluid" />
                                </div>
                            </div>
                            <div class="client show" data-category="transport">
                                <div class="client-content">
                                    <img src="/assets/img/logo/as-350x210.png" class="img-fluid" />
                                </div>
                            </div>
                            <div class="client show" data-category="automotive">
                                <div class="client-content">
                                    <img src="/assets/img/logo/aut-350x210.png" class="img-fluid" />
                                </div>
                            </div>
                            <div class="client show" data-category="automotive">
                                <div class="client-content">
                                    <img src="/assets/img/logo/b-350x250.png" class="img-fluid" />
                                </div>
                            </div>
                            <div class="client show" data-category="transport">
                                <div class="client-content">
                                    <img src="/assets/img/logo/ba-350x210.png" class="img-fluid" />
                                </div>
                            </div>
                            <div class="client show" data-category="agriculture">
                                <div class="client-content">
                                    <img src="/assets/img/logo/bo-350x210.png" class="img-fluid" />
                                </div>
                            </div>
                            <div class="client show" data-category="agriculture">
                                <div class="client-content">
                                    <img src="/assets/img/logo/ca-350x210.png" class="img-fluid" />
                                </div>
                            </div>
                            <div class="client show" data-category="education">
                                <div class="client-content">
                                    <div class="client-content">
                                        <img src="/assets/img/logo/cl-350x210.png" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                            <div class="client show" data-category="education">
                                <div class="client-content">
                                    <div class="client-content">
                                        <img src="/assets/img/logo/di-350x250.png" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="bg-white py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-12">
                    <h3>What is the SCIP database?</h3>
                    <p>
                        With the revision of the Waste Framework Directive (EU) 2018/851, Article 9,
                        the European Chemicals Agency ECHA was tasked with the implementation of a database
                        collecting (and making available) information on articles containing Substances of Very High
                        Concern (SVHC) above 0.1% by weight as specified by the Candidate list.
                    </p>
                    <a href="#" class="font-weight-bold text-decoration-none">
                        <svg class="icon icon-16" xmlns="http://www.w3.org/2000/svg" role="img" focusable="false">
                            <use xlink:href="/assets/img/svg-symbols.svg#down-chevron"></use>
                        </svg>
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
