{% extends './../_layouts/default.twig' %}
{% set head_title = 'Anwendungen - Solutions' %}
{% set body_class = '' %}

{% block page %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 mb-4">
                <img class="img-fluid w-100"
                     data-picture="true"
                     src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-picture-xs-src="/assets/img/modules/module-1.jpg"
                     data-picture-sm-src="/assets/img/modules/module-1.jpg"
                     data-picture-md-src="/assets/img/modules/module-1.jpg"
                     data-picture-lg-src="/assets/img/modules/module-1.jpg"
                     data-picture-xl-src="/assets/img/modules/module-1.jpg">
            </div>
            <div class="col-12 col-sm-6 col-lg-5 offset-lg-1 mb-5">
                <h3>Bild links – Excepteur sint occaecat cupidatat non proident</h3>

                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat Textlink nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <br/>

                <a class="btn btn-primary" href="#">Langer Button-Text dolor aute</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-6 offset-lg-1 order-lg-2 mb-4">
                <img class="img-fluid w-100"
                     data-picture="true"
                     src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-picture-xs-src="/assets/img/modules/module-1.jpg"
                     data-picture-sm-src="/assets/img/modules/module-1.jpg"
                     data-picture-md-src="/assets/img/modules/module-1.jpg"
                     data-picture-lg-src="/assets/img/modules/module-1.jpg"
                     data-picture-xl-src="/assets/img/modules/module-1.jpg">
            </div>
            <div class="col-12 col-sm-6 col-lg-5 order-lg-1 mb-2 mb-5">
                <h3>Bild rechts – Excepteur sint occaecat cupidatat non proident</h3>

                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <ul>
                    <li>Linkliste</li>
                    <li>Minim veniam quis nostru</li>
                    <li>Lorem Ipsum</li>
                </ul>
                <br/>

                <a class="btn btn-primary" href="#">Langer Button-Text dolor aute</a>
            </div>

        </div>
    </div>

    <div class="bg-grey py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center pb-5">
                    <h3 class=" pb-5">Bild / Text Boxen vertikal</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="card bg-white">
                        <div class="card-img">
                            <img class="img-fluid w-100"
                                 data-picture="true"
                                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                 data-picture-xs-src="/assets/img/modules/module-1.jpg"
                                 data-picture-sm-src="/assets/img/modules/module-1.jpg"
                                 data-picture-md-src="/assets/img/modules/module-1.jpg"
                                 data-picture-lg-src="/assets/img/modules/module-1.jpg"
                                 data-picture-xl-src="/assets/img/modules/module-1.jpg">
                        </div>


                        <div class="card-body">
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                            <a href="#" class="btn btn-primary">Mehr erfahren</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="card bg-white">
                        <div class="card-img">
                            <img class="img-fluid w-100"
                                 data-picture="true"
                                 src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                 data-picture-xs-src="/assets/img/modules/module-1.jpg"
                                 data-picture-sm-src="/assets/img/modules/module-1.jpg"
                                 data-picture-md-src="/assets/img/modules/module-1.jpg"
                                 data-picture-lg-src="/assets/img/modules/module-1.jpg"
                                 data-picture-xl-src="/assets/img/modules/module-1.jpg">
                        </div>


                        <div class="card-body">
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                            <a href="#" class="btn btn-primary">Mehr erfahren</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img class="img-fluid w-100"
         data-picture="true"
         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
         data-picture-xs-src="/assets/img/solutions/formal-avatar.png"
         data-picture-sm-src="/assets/img/solutions/formal-avatar.png"
         data-picture-md-src="/assets/img/solutions/formal-avatar.png"
         data-picture-lg-src="/assets/img/solutions/formal-avatar.png"
         data-picture-xl-src="/assets/img/solutions/formal-avatar.png">

    <div class="container my-3 my-lg-5">
        <div class="row my-3 my-lg-5">
            <div class="col-12 col-sm-6">

                <h3>Excepteur sint occaecat cupidatat</h3>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    <br /><br />
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiatariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <a href="#" class="btn btn-primary mb-3">Mehr erfahren</a>
            </div>
            <div class="col-12 col-sm-6">

                <h3>Excepteur sint occaecat cupidatat</h3>

                <p>

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
<br /><br />
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiatariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <a href="#" class="btn btn-primary mb-3">Mehr erfahren</a>
            </div>
        </div>
    </div>

    <div class="bg-grey">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-12 p-0">
                    <img class="img-fluid w-100"
                         data-picture="true"
                         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                         data-picture-xs-src="/assets/img/solutions/reporting.png"
                         data-picture-sm-src="/assets/img/solutions/reporting.png"
                         data-picture-md-src="/assets/img/solutions/reporting.png"
                         data-picture-lg-src="/assets/img/solutions/reporting.png"
                         data-picture-lg-width="497"
                         data-picture-lg-height="237"
                         data-picture-xl-src="/assets/img/solutions/reporting.png"
                         data-picture-xl-width="585"
                         data-picture-xl-height="280"
                    >
                </div>
                <div class="col-md-6 col-12 px-5 py-3 align-middle">
                    <div>
                        <h3>C – collect the relevant data</h3>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                        </p>
                    </div>

                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-md-6 col-12 p-0 order-md-2">
                    <img class="img-fluid w-100"
                         data-picture="true"
                         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                         data-picture-xs-src="/assets/img/solutions/echa-database.png"
                         data-picture-sm-src="/assets/img/solutions/echa-database.png"
                         data-picture-md-src="/assets/img/solutions/echa-database.png"
                         data-picture-lg-src="/assets/img/solutions/echa-database.png"
                         data-picture-lg-width="497"
                         data-picture-lg-height="237"
                         data-picture-xl-src="/assets/img/solutions/echa-database.png"
                         data-picture-xl-width="585"
                         data-picture-xl-height="280">
                </div>
                <div class="col-md-6 col-12 px-5 py-3 align-middle order-md-1">
                    <div>
                        <h3>A – analyze the relations and impact</h3>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                        </p>
                    </div>

                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-md-6 col-12 p-0">
                    <img class="img-fluid w-100"
                         data-picture="true"
                         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                         data-picture-xs-src="/assets/img/solutions/reporting.png"
                         data-picture-sm-src="/assets/img/solutions/reporting.png"
                         data-picture-md-src="/assets/img/solutions/reporting.png"
                         data-picture-lg-src="/assets/img/solutions/reporting.png"
                         data-picture-lg-width="497"
                         data-picture-lg-height="237"
                         data-picture-xl-src="/assets/img/solutions/reporting.png"
                         data-picture-xl-width="585"
                         data-picture-xl-height="280"
                    >
                </div>
                <div class="col-md-6 col-12 px-5 py-3 align-middle">
                    <div>
                        <h3>C – collect the relevant data</h3>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                        </p>
                    </div>

                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-md-6 col-12 p-0 order-md-2">
                    <img class="img-fluid w-100"
                         data-picture="true"
                         src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                         data-picture-xs-src="/assets/img/solutions/echa-database.png"
                         data-picture-sm-src="/assets/img/solutions/echa-database.png"
                         data-picture-md-src="/assets/img/solutions/echa-database.png"
                         data-picture-lg-src="/assets/img/solutions/echa-database.png"
                         data-picture-lg-width="497"
                         data-picture-lg-height="237"
                         data-picture-xl-src="/assets/img/solutions/echa-database.png"
                         data-picture-xl-width="585"
                         data-picture-xl-height="280">
                </div>
                <div class="col-md-6 col-12 px-5 py-3 align-middle order-md-1">
                    <div>
                        <h3>E – evolve the company to minimize risks</h3>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <div class="bg-white">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 text-center pb-5">
                    <h3 class="my-3">Dreiteilung Icon / Text / Button</h3>
                    <p class="lead">z.B.für "Compliance, Sustainability, Risk" in Software und/oder Solutions</p>
                </div>
                <div class="col-lg-4 col-md-6 col-12 p-3">
                    <div class="card card--primary h-100">
                        <div class="card-body text-center px-5 py-4">
                            {% include "../components/svg-icon/icon.twig" with { 'icon': 'provider', 'size': 64} %}
                            <h5 class="mt-4">Führende <br> Softwarelösungen</h5>
                            <button class="btn btn-primary btn-round">Discover</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 p-3">
                    <div class="card card--primary h-100">
                        <div class="card-body text-center px-5 py-4">
                            {% include "../components/svg-icon/icon.twig" with { 'icon': 'consult', 'size': 64} %}
                            <h5 class="mt-4">Serviceleistungen <br> für Geschäftsprozesse</h5>
                            <button class="btn btn-primary btn-round">Discover</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 p-3">
                    <div class="card card--primary h-100">
                        <div class="card-body text-center px-5 py-4">
                            {% include "../components/svg-icon/icon.twig" with { 'icon': 'planet-earth', 'size': 64} %}
                            <h5 class="mt-4">Nachhaltige <br> Produkte</h5>
                            <button class="btn btn-primary btn-round">Discover</button>
                        </div>
                    </div>
                </div>
            </row>
        </div>
    </div>

    <div class="bg-grey pb-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <h3 class="col-12 text-center mb-5">2 Spalten Icon / Text + Bild</h3>
                <div class="col-md-6 col-12 p-0">
                    <img class="img-fluid w-100"
                        data-picture="true"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-picture-xs-src="/assets/img/support/ipoint-building.png"
                        data-picture-sm-src="/assets/img/support/ipoint-building.png"
                        data-picture-md-src="/assets/img/support/ipoint-building.png"
                        data-picture-lg-src="/assets/img/support/ipoint-building.png"
                        data-picture-xl-src="/assets/img/support/ipoint-building.png">
                </div>
                <div class="col-md-6 col-12 px-5">
                    <div class="d-flex py-3">
                        <div class="text-primary">
                            {% include "../components/svg-icon/icon.twig" with { 'icon': 'provider', 'size': 48} %}
                        </div>
                        <div class="d-flex flex-column pl-3">
                            <p class="font-weight-bold m-0 small">Lorem ipsum dolor sit amet</p>
                            <p class="text-justify m-0 small">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                    <div class="d-flex py-3">
                        <div class="text-primary">
                            {% include "../components/svg-icon/icon.twig" with { 'icon': 'consult', 'size': 48} %}
                        </div>
                        <div class="d-flex flex-column pl-3">
                            <p class="font-weight-bold m-0 small">Lorem ipsum dolor sit amet</p>
                            <p class="text-justify m-0 small">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                    <div class="d-flex py-3">
                        <div class="text-primary">
                            {% include "../components/svg-icon/icon.twig" with { 'icon': 'planet-earth', 'size': 48} %}
                        </div>
                        <div class="d-flex flex-column pl-3">
                            <p class="font-weight-bold m-0 small">Lorem ipsum dolor sit amet</p>
                            <p class="text-justify m-0 small">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="bg-white pb-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <h3 class="col-12 text-center mb-5">3 Spalten Icon / Text</h3>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="d-flex py-3">
                        <div class="text-primary">
                            {% include "../components/svg-icon/icon.twig" with { 'icon': 'provider', 'size': 48} %}
                        </div>
                        <div class="d-flex flex-column pl-4">
                            <p class="font-weight-bold m-0 small">Lorem ipsum dolor sit amet</p>
                            <p class="text-justify m-0 small">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="d-flex py-3">
                        <div class="text-primary">
                            {% include "../components/svg-icon/icon.twig" with { 'icon': 'provider', 'size': 48} %}
                        </div>
                        <div class="d-flex flex-column pl-4">
                            <p class="font-weight-bold m-0 small">Lorem ipsum dolor sit amet</p>
                            <p class="text-justify m-0 small">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="d-flex py-3">
                        <div class="text-primary">
                            {% include "../components/svg-icon/icon.twig" with { 'icon': 'provider', 'size': 48} %}
                        </div>
                        <div class="d-flex flex-column pl-4">
                            <p class="font-weight-bold m-0 small">Lorem ipsum dolor sit amet</p>
                            <p class="text-justify m-0 small">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="d-flex py-3">
                        <div class="text-primary">
                            {% include "../components/svg-icon/icon.twig" with { 'icon': 'consult', 'size': 48} %}
                        </div>
                        <div class="d-flex flex-column pl-4">
                            <p class="font-weight-bold m-0 small">Lorem ipsum dolor sit amet</p>
                            <p class="text-justify m-0 small">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="d-flex py-3">
                        <div class="text-primary">
                            {% include "../components/svg-icon/icon.twig" with { 'icon': 'consult', 'size': 48} %}
                        </div>
                        <div class="d-flex flex-column pl-4">
                            <p class="font-weight-bold m-0 small">Lorem ipsum dolor sit amet</p>
                            <p class="text-justify m-0 small">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="d-flex py-3">
                        <div class="text-primary">
                            {% include "../components/svg-icon/icon.twig" with { 'icon': 'consult', 'size': 48} %}
                        </div>
                        <div class="d-flex flex-column pl-4">
                            <p class="font-weight-bold m-0 small">Lorem ipsum dolor sit amet</p>
                            <p class="text-justify m-0 small">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="d-flex py-3">
                        <div class="text-primary">
                            {% include "../components/svg-icon/icon.twig" with { 'icon': 'planet-earth', 'size': 48} %}
                        </div>
                        <div class="d-flex flex-column pl-4">
                            <p class="font-weight-bold m-0 small">Lorem ipsum dolor sit amet</p>
                            <p class="text-justify m-0 small">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="d-flex py-3">
                        <div class="text-primary">
                            {% include "../components/svg-icon/icon.twig" with { 'icon': 'planet-earth', 'size': 48} %}
                        </div>
                        <div class="d-flex flex-column pl-4">
                            <p class="font-weight-bold m-0 small">Lorem ipsum dolor sit amet</p>
                            <p class="text-justify m-0 small">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="d-flex py-3">
                        <div class="text-primary">
                            {% include "../components/svg-icon/icon.twig" with { 'icon': 'planet-earth', 'size': 48} %}
                        </div>
                        <div class="d-flex flex-column pl-4">
                            <p class="font-weight-bold m-0 small">Lorem ipsum dolor sit amet</p>
                            <p class="text-justify m-0 small">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-grey py-5">
        <div class="container">
            <div class="row align-items-center py-4">
                <div class="col-lg-5 col-md-6 col-12 order-2 order-md-1 pl-4">
                    <b class="small">WEBINAR</b>
                    <h3>Video links</h3>

                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>

                    <small>Videolänge: 54:51 Minuten</small>
                </div>
                <div class="col-lg-7 col-md-6 col-12 order-1 order-md-2 pl-md-5">
                    <img class="img-fluid w-100"
                        data-picture="true"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-picture-xs-src="/assets/img/support/support-video-1.png"
                        data-picture-sm-src="/assets/img/support/support-video-1.png"
                        data-picture-md-src="/assets/img/support/support-video-1.png"
                        data-picture-lg-src="/assets/img/support/support-video-1.png"
                        data-picture-xl-src="/assets/img/support/support-video-1.png">
                </div>
            </div>
            <div class="row align-items-center py-5">
                <div class="col-lg-7 col-md-6 col-12 pr-md-5">
                    <img class="img-fluid w-100"
                        data-picture="true"
                        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-picture-xs-src="/assets/img/support/support-video-2.png"
                        data-picture-sm-src="/assets/img/support/support-video-2.png"
                        data-picture-md-src="/assets/img/support/support-video-2.png"
                        data-picture-lg-src="/assets/img/support/support-video-2.png"
                        data-picture-xl-src="/assets/img/support/support-video-2.png">
                </div>
                <div class="col-lg-5 col-md-6 col-12 pr-4">
                    <b class="small">WEBINAR</b>
                    <h3>Video links</h3>

                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>

                    <small>Videolänge: 54:51 Minuten</small>
                </div>
            </div>
        </div>
    </div>
    
    <div class="bg-white pb-5">
        <div class="container py-5">
            <div class="row">
                <h3 class="col-12 text-center mb-5">2spaltiges Element für Vergleiche</h3>
                <div class="col-12 col-md-6 mb-3">
                    <div class="bg-grey p-5">
                        <h3 class="col-12 text-left mb-3 p-0">SCIP<br>3 Compliance Software</h3>
                        <p class="lead">
                            Point Compliance SCIP Connector automates the creation od SCIP dossiers and the exchange of data with ECHA's new
                        </p>

                        <ul class="list-unstyled mt-2 list--icons">
                            <li class="pb-0">
                                Easy handling of large amounts of data
                            </li>
                            <li class="pb-0">
                                Collection of all data in one place
                            </li>
                            <li class="pb-0">
                                Collection of missing data
                            </li>
                            <li class="pb-0">
                                Automated analysis and reporting, bulk upload
                            </li>
                            <li class="pb-0">
                                Setting and menagement of default values
                            </li>
                            <li class="pb-0">
                                Overview of completeness of data
                            </li>
                            <li class="pb-0">
                                Task management and change management
                            </li>
                            <li class="pb-0">
                                Concise management of dossier information
                            </li>
                        </ul>

                        <a href="#" class="btn btn-primary mt-3 ">Jetzt testen</a>
                    </div>
                </div>

                <div class="col-12 col-md-6 mb-3">
                    <div class="bg-grey p-5">
                        <h3 class="col-12 text-left mb-3 p-0">REACH<br>3 Compliance Software</h3>
                        <p class="lead">
                            Automate product-realted REACH compilance.
                        </p>

                        <ul class="list-unstyled mt-2 list--icons">
                            <li class="pb-0">
                                Maintaining REACH legal entities
                            </li>
                             <li class="pb-0">
                                Authorization concept geared specifically towards REACH
                            </li>
                            <li class="pb-0">
                                Maintaining and taking advantage of important long-term REACH contacts in the supply chain
                            </li>
                            <li class="pb-0">
                                Flexible application and management of risk factors in case of substance or supplier shortages
                            </li>
                            <li class="pb-0">
                                Automated request for missing documents and information with corresponding cockpit function and documentation
                            </li>
                            <li class="pb-0">
                                Checking the product portfolio for SVHC, REACH Annex XIV and Annex XVII
                            </li>
                            <li class="pb-0">
                                Checking Safety Data Sheets (SDS) and commitments in the supply chain
                            </li>
                            <li class="pb-0">
                                Impact analysis and volume calculation of SVHC as required by regulations like EU REACH and U.S. SARA Title III (EPCRA)
                            </li>
                        </ul>

                        <a href="#" class="btn btn-primary mt-3">Jetzt testen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-grey py-5">

    </div>

    <div class="bg-white">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-md-6 p-5">
                    <div class="card bg-grey">
                        <img class="card-img-top"
                            data-picture="true"
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-picture-xs-src="/assets/img/support/meeting.png"
                            data-picture-sm-src="/assets/img/support/meeting.png"
                            data-picture-md-src="/assets/img/support/meeting.png"
                            data-picture-lg-src="/assets/img/support/meeting.png"
                            data-picture-xl-src="/assets/img/support/meeting.png">
                        <div class="card-body">
                            <p class="lead">Hier finden Sie die nächsten Termine:</p>
                            <p>
                                Umberto Efficiency+ Schulung in Hamburg <br>
                                <b>Donnerstag 01. Oktober 2020</b> <br>
                                10:00 - 17:00 Uhr
                            </p>
                            <a href="#" class="btn btn-primary">Zur Anmeldung</a>

                            <p class="mt-5">
                                Umberto Efficiency+ Schulung in Hamburg <br>
                                <b>Donnerstag 01. Oktober 2020</b> <br>
                                10:00 - 17:00 Uhr
                            </p>
                            <a href="#" class="btn btn-primary">Zur Anmeldung</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 py-5 pl-3 pr-5">
                    <h3 class="mt-5">Öffentliche Schulung Umberto Efficiency+</h3>

                    <p class="lead my-4">Umberto Efficiency+ Schulung (2-tägig)</p>
            
                    <p class="font-weight-bold">Teilnahmegebühr: 1.050 € zzgl. MwSt. pro Teilnehmer (inkl. Frühbucherrabatt*)</p>

                    <p>Teilnahmegebühr: 1.050 € zzgl. MwSt. pro Teilnehmer (inkl. Frühbucherrabatt*)</p>

                    <p class="font-weight-bold">Beschreibung</p>

                    <p>Die 2-tägige öffentliche Präsenzschulungen in unseren Räumlichkeiten findet aufgrund der aktuellen Situation mit nur max. 4 Teilnehmern statt. Aufbauend auf methodischen Grundlagen vermitteln unsere Trainer Ihnen alle notwendigen Funktionen der Software für die Erstellung von Stoffstrommodellen und die Durchführung von Kostenrechnungen, Materialflusskostenrechnungen (MFCA) und die Berechnung von Carbon Footprints an einem praktischen Schulungsbeispiel. Durch die Schulung in kleinen Gruppen bietet sich jederzeit die Möglichkeit, Ihre persönlichen Fragen noch detaillierter zu beantworten.</p>

                    <p>Die Schulung beinhaltet Schulungsunterlagen, ein Teilnehmerzertifikat, Pausengetränke und Mittagessen.</p>

                    <p>Hier finden Sie weitere Informationen zu unseren derzeit umgesetzten <a href="#">Hygienemaßnahmen</a>.</p>

                    <p class="font-weight-bold">Zeitplan</p>

                    <ol>
                        <li>Tag von 10:00 Uhr - 17:00 Uhr und 2. Tag von 09:00 Uhr - 16:00 Uhr</li>
                    </ol>

                    <p class="font-weight-bold mb-0">Inhalte</p>

                    <ul class="list-unstyled mt-2 list--icons">
                        <li class="pb-0">
                            Easy handling of large amounts of data
                        </li>
                        <li class="pb-0">
                            Collection of all data in one place
                        </li>
                        <li class="pb-0">
                            Collection of missing data
                        </li>
                        <li class="pb-0">
                            Automated analysis and reporting, bulk upload
                        </li>
                        <li class="pb-0">
                            Setting and menagement of default values
                        </li>
                        <li class="pb-0">
                            Overview of completeness of data
                        </li>
                        <li class="pb-0">
                            Task management and change management
                        </li>
                        <li class="pb-0">
                            Concise management of dossier information
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

