{% extends './../_layouts/default.twig' %}
{% set head_title = 'Anwendungen - Test' %}
{% set body_class = '' %}

{% block page %}
    <div class="container my-5">
        <div class="row">
            <h3 class="col-12 text-center">Offene Stellen</h3>
            <div class="col-12 text-center">
                <form class="form-inline justify-content-center my-5">
                    <div class="dropdown mx-3">
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Alle Standorte
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox mx-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                        <label class="custom-control-label" for="customCheck1">Development</label>
                    </div>
                    <div class="custom-control custom-checkbox mx-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck2" checked>
                        <label class="custom-control-label" for="customCheck2">Design</label>
                    </div>
                    <div class="custom-control custom-checkbox mx-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck3" checked>
                        <label class="custom-control-label" for="customCheck3">Sales</label>
                    </div>
                    <div class="custom-control custom-checkbox mx-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck4" checked>
                        <label class="custom-control-label" for="customCheck4">Marketing</label>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3">
                <div class="card card--primary">
                    <div class="card-body text-center px-1 py-4">
                        {% include "../components/svg-icon/icon.twig" with { 'icon': 'development', 'size': 64} %}
                        <h5 class="mt-4">Senior Java Developer <br> (Angular) (m/f/d)</h5>
                        <p class="mt-4 small">Team Reutlingen <br> Start in September 2020</p>
                        <button class="btn btn-primary btn-round mt-3">More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3">
                <div class="card card--primary">
                    <div class="card-body text-center px-1 py-4">
                        {% include "../components/svg-icon/icon.twig" with { 'icon': 'development', 'size': 64} %}
                        <h5 class="mt-4">Senior Java Developer (m/f/d)</h5>
                        <p class="mt-4 small">Team Hamburg <br> Start asap</p>
                        <button class="btn btn-primary btn-round mt-3">More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3">
                <div class="card card--primary">
                    <div class="card-body text-center px-1 py-4">
                        {% include "../components/svg-icon/icon.twig" with { 'icon': 'promotion', 'size': 64} %}
                        <h5 class="mt-4">Sales Assistant (m/f/d)</h5>
                        <p class="mt-4 small">Team Munich <br> Start in September 2020</p>
                        <button class="btn btn-primary btn-round mt-3">More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3">
                <div class="card card--primary">
                    <div class="card-body text-center px-1 py-4">
                        {% include "../components/svg-icon/icon.twig" with { 'icon': 'headphones', 'size': 64} %}
                        <h5 class="mt-4">Support Specialist (m/f/d) <br> b2b Integration</h5>
                        <p class="mt-4 small">Team Reutlingen <br> Start flexible</p>
                        <button class="btn btn-primary btn-round mt-3">More</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3">
                <div class="card card--primary">
                    <div class="card-body text-center px-1 py-4">
                        {% include "../components/svg-icon/icon.twig" with { 'icon': 'promotion', 'size': 64} %}
                        <h5 class="mt-4">Sales Assistant (m/f/d)</h5>
                        <p class="mt-4 small">Team Munich <br> Start in September 2020</p>
                        <button class="btn btn-primary btn-round mt-3">More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3">
                <div class="card card--primary">
                    <div class="card-body text-center px-1 py-4">
                        {% include "../components/svg-icon/icon.twig" with { 'icon': 'algorithm', 'size': 64} %}
                        <h5 class="mt-4">Apprenticeship IT <br> Specialist  (m/f/d)</h5>
                        <p class="mt-4 small">Team Hamburg <br> Start asap</p>
                        <button class="btn btn-primary btn-round mt-3">More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3">
                <div class="card card--primary">
                    <div class="card-body text-center px-1 py-4">
                        {% include "../components/svg-icon/icon.twig" with { 'icon': 'algorithm', 'size': 64} %}
                        <h5 class="mt-4">Opportunities for Students <br> (m/f/d)</h5>
                        <p class="mt-4 small">All teams <br> Start flexible</p>
                        <button class="btn btn-primary btn-round mt-3">More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-3">
                <div class="card card--primary">
                    <div class="card-body text-center px-1 py-4">
                        {% include "../components/svg-icon/icon.twig" with { 'icon': 'astronaut', 'size': 64} %}
                        <h5 class="mt-4">Unsolicited Application</h5>
                        <p class="mt-4 small">All teams <br> Start flexible</p>
                        <button class="btn btn-primary btn-round mt-3">More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
