{% extends './../_layouts/default.twig' %}
{% set head_title = 'typography' %}
{% set body_class = '' %}

{% block page %}
    <div class="container" style="margin-top: 200px">
        <div class="row">
            <div class="col-12">
                <h1>headline 1</h1>
                <h2>headline 2</h2>
                <h3>headline 3</h3>
                <h4>headline 4</h4>
                <h5>headline 5</h5>
            </div>

            <div class="col-12">
                <p>paragraph</p>
            </div>
        </div>
    </div>

{% endblock %}

