<div class="navbar navbar-light navbar-expand-lg megamenu" data-megamenu="true">
    <div class="container">
        <a href="/index.html" class="navbar-brand" title="IPoint Systems">
            <img src="/assets/img/logo.png" alt="IPoint Systems" class="img-fluid megamenu__logo megamenu__logo--desktop">
            <img src="/assets/img/logo-punkt.png" alt="IPoint Systems" class="img-fluid megamenu__logo megamenu__logo--sticky">
            <img src="/assets/img/logo_small.png" alt="IPoint Systems" class="img-fluid megamenu__logo megamenu__logo--small">
        </a>

        <div class="navbar-toggler hamburger hamburger--spin" role="button" data-controller="megamenu/toggleMenu">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>

        <ul class="nav navbar-nav megamenu__nav" data-controller="megamenu/menu">
            <li class="nav-item megamenu__item" data-controller="megamenu/item">
                <a href="solutions.html" alt="Solutions" class="nav-link">Solutions</a>
                <div class="megamenu__dropdown" data-controller="megamenu/dropdown">
                    <div class="megamenu__dropdown-content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="megamenu__headline">Compliance</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                            <div class="col-sm-4">
                                <div class="megamenu__headline">Sustainability</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                            <div class="col-sm-4">
                                <div class="megamenu__headline">Risk</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="megamenu__list" data-controller="megamenu/dropdown/linklist" data-title="Compliance">

                                    <a href="#">Sustainhub</a>
                                    <a class="megamenu__sublist" href="#">Material COmpliance</a>
                                    <a class="megamenu__sublist" href="#">Conflict Materials</a>
                                    <a class="megamenu__sublist" href="#">Supply Chain Survey</a>

                                    <a href="#">Reach</a>
                                    <a href="#">RoHS</a>
                                    <a href="#">LCA</a>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="megamenu__list" data-controller="megamenu/dropdown/linklist" data-title="Sustainability">

                                    <a href="#">ELV (IMDS, CAMDS)</a>

                                    <a class="megamenu__sublist" href="#">Camds Tutorial</a>
                                    <a class="megamenu__sublist" href="#"> Camds Software</a>

                                    <a href="#">RRR</a>
                                    <a href="#">EHS</a>

                                    <a href="#">CSR</a>
                                    <a class="megamenu__sublist" href="#">NFRD Report</a>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="megamenu__list" data-controller="megamenu/dropdown/linklist" data-title="Risk">
                                    <a href="#">Human Trafficking & modern</a>
                                    <a class="megamenu__sublist" href="#">day slavery Legislation</a>
                                    <a class="megamenu__sublist" href="#">Ca-Tisca</a>
                                    <a href="#">Product Review Process</a>
                                    <a href="#">SAP COmpliance Integration</a>
                                    <a href="#">Further Requirements</a>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <img class="img-fluid w-100" data-picture="true" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-picture-xs-src="//via.placeholder.com/400x250">
                            </div>
                            <div class="col-sm-4">
                                <img class="img-fluid w-100" data-picture="true" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-picture-xs-src="//via.placeholder.com/400x250">
                            </div>
                            <div class="col-sm-4">
                                <img class="img-fluid w-100" data-picture="true" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-picture-xs-src="//via.placeholder.com/400x250">
                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li class="nav-item megamenu__item" data-controller="megamenu/item">

                <a href="products.html" class="nav-link">Products</a>

                <div class="megamenu__dropdown" data-controller="megamenu/dropdown">
                    <div class="megamenu__dropdown-content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="megamenu__headline">Software</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                            <div class="col-sm-4">
                                <div class="megamenu__headline">Consulting</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                            <div class="col-sm-4">
                                <div class="megamenu__headline">Support</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <img class="img-fluid w-100" data-picture="true" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-picture-xs-src="//via.placeholder.com/400x250">
                            </div>
                            <div class="col-sm-4">
                                <img class="img-fluid w-100" data-picture="true" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-picture-xs-src="//via.placeholder.com/400x250">
                            </div>
                            <div class="col-sm-4">
                                <img class="img-fluid w-100" data-picture="true" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-picture-xs-src="//via.placeholder.com/400x250">
                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li class="nav-item megamenu__item megamenu__item--4columns" data-controller="megamenu/item">

                <a href="#" class="nav-link">Company</a>

                <div class="megamenu__dropdown" data-controller="megamenu/dropdown">
                    <div class="megamenu__dropdown-content">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="megamenu__headline">Pioneer Spirit —
                                    What drives us
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                            <div class="col-sm-3">
                                <div class="megamenu__headline">We live
                                    Sustainability
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                            <div class="col-sm-3">
                                <div class="megamenu__headline">Sponsoring</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                            <div class="col-sm-3">
                                <div class="megamenu__headline">Research & Development</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-3">
                                <img class="img-fluid w-100" data-picture="true" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-picture-xs-src="//via.placeholder.com/400x250">
                            </div>
                            <div class="col-sm-3">
                                <img class="img-fluid w-100" data-picture="true" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-picture-xs-src="//via.placeholder.com/400x250">
                            </div>
                            <div class="col-sm-3">
                                <img class="img-fluid w-100" data-picture="true" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-picture-xs-src="//via.placeholder.com/400x250">
                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li class="nav-item megamenu__item" data-controller="megamenu/item"><a href="#" class="nav-link">Career</a></li>
            <li class="nav-item megamenu__item" data-controller="megamenu/item"><a href="#" class="nav-link">News</a></li>
            <li class="nav-item megamenu__item" data-controller="megamenu/item"><a href="support.html" class="nav-link nav-link--bordered">Support</a></li>
            <li class="nav-item megamenu__item"><a href="#" class="nav-link nav-link--icon">{% include "../svg-icon/icon.twig" with { 'icon': 'phone', 'size': 16} %}</a></li>
            <li class="nav-item megamenu__item"><a href="#" class="nav-link nav-link--icon">{% include "../svg-icon/icon.twig" with { 'icon': 'search', 'size': 16} %}</a></li>
            <li class="nav-item megamenu__item"><a href="#" class="nav-link nav-link--icon">{% include "../svg-icon/icon.twig" with { 'icon': 'global', 'size': 16} %}</a></li>
        </ul>
    </div>
</div>


