@import "mmenu-light/mmenu-light";

/**
 hamburger settings
 */
$hamburger-padding-x: 20px;
$hamburger-padding-y: 15px;
$hamburger-types: (spin);
$hamburger-layer-width: 24px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-border-radius: 0;
@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers";

$transition-megamenu: all .5s ease;

.megamenu {
  background: #fff;
  padding: 0;
  @include transition($transition-megamenu);
  box-shadow: $box-shadow;
  z-index: $zindex-fixed;

  .navbar-toggler {
    color: $navbar-light-color;
  }

  .navbar-brand {
    @include media-breakpoint-up(lg) {
      padding-top: 0.5rem;
    }
  }

  &__logo {
    display: none;
    opacity: 0;

    @include media-breakpoint-up(lg) {
      &--desktop {
        display: flex;
        opacity: 1;
        max-height: 75px;
      }
    }
  }

  &__mobile {
    &__title {
      font-weight: bold;

      &:before {
        display: none !important;
      }
    }
  }

  &__nav {
    display: none;

    &.mm-spn {
      display: block;
    }

    @include media-breakpoint-up(lg) {
      display: flex;
    }

    .nav-link {
      padding: ($spacer / 2) $spacer;
      font-family: "Sanuk", Arial, Helvetica, sans-serif;
      @include unitize(font-size, 14);
      font-weight: 400;

      @include media-breakpoint-up(lg) {
        padding: 0.5rem 0.75rem !important;
      }

      .icon {
        font-size: 1rem;
      }

      &--bordered {

        @include media-breakpoint-up(lg) {
          border: 1px solid $navbar-light-color;
          border-radius: ($spacer * 2);
        }
      }
    }
  }

  &__dropdown {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 100%;
    visibility: hidden;
    z-index: 0;

    background: -webkit-linear-gradient(90deg, #8a0050 50%, #65043a 50%);
    background: -o-linear-gradient(90deg, #8a0050 50%, #65043a 50%);
    background: -moz-linear-gradient(90deg, #8a0050 50%, #65043a 50%);
    background: linear-gradient(90deg, #8a0050 50%, #65043a 50%);

    a {
      color: #fff;
    }
  }

  &__dropdown-content {
    // Responsive containers that are 100% wide until a breakpoint
    @each $breakpoint, $container-max-width in $container-max-widths {
      @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        max-width: $container-max-width;
      }
    }
    margin: 0 auto;
    padding: 2rem 0;

    background: -webkit-linear-gradient(90deg, #8a0050 32.75%, rgba(0, 0, 0, 0) 32.75%), linear-gradient(90deg, #670a3e 67%, #65043a 67%);
    background: -o-linear-gradient(90deg, #8a0050 32.75%, rgba(0, 0, 0, 0) 32.75%), linear-gradient(90deg, #670a3e 67%, #65043a 67%);
    background: -moz-linear-gradient(90deg, #8a0050 32.75%, rgba(0, 0, 0, 0) 32.75%), linear-gradient(90deg, #670a3e 67%, #65043a 67%);
    background: linear-gradient(90deg, #8a0050 32.75%, rgba(0, 0, 0, 0) 32.75%), linear-gradient(90deg, #670a3e 67%, #65043a 67%);
  }

  &__list {
    margin-top: $spacer * 2;

    a {
      display: block;
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      @include hover-focus {
        background: rgba(255, 255, 255, 0.05);
        text-decoration: none;
      }

      &:nth-child(odd) {
        background: rgba(255, 255, 255, 0.1);
        @include hover-focus {
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }

    /*
    li {
      &:nth-child(even) {
        background: rgba(255,255,255, 0.1);
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          margin-left: 0;
          padding: 5px 0 5px 30px;
          list-style: none;
          position: relative;

          &:before {
            content: ' ';
            width: 25px;
            height: 20px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31.14 18.56'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23fff;stroke-miterlimit:10;%7D.cls-2%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpolyline class='cls-1' points='4.26 4.05 4.26 14.3 27.1 14.3'/%3E%3Cpath class='cls-2' d='M229,144.11a3.76,3.76,0,1,1,3.75,3.76A3.76,3.76,0,0,1,229,144.11Z' transform='translate(-228.54 -139.85)'/%3E%3Cpath class='cls-2' d='M228.54,144.11a4.26,4.26,0,1,0,4.25-4.26,4.26,4.26,0,0,0-4.25,4.26Zm7.51,0a3.26,3.26,0,1,1-3.26-3.26,3.26,3.26,0,0,1,3.26,3.26Z' transform='translate(-228.54 -139.85)'/%3E%3Cpath class='cls-2' d='M255.42,157.91a3.76,3.76,0,1,0-3.76-3.76A3.76,3.76,0,0,0,255.42,157.91Z' transform='translate(-228.54 -139.85)'/%3E%3Cpath class='cls-2' d='M255.42,158.41a4.26,4.26,0,1,1,4.26-4.26,4.26,4.26,0,0,1-4.26,4.26Zm0-7.52a3.26,3.26,0,1,0,3.26,3.26,3.27,3.27,0,0,0-3.26-3.26Z' transform='translate(-228.54 -139.85)'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: left center;
            background-size: contain;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }

     */
  }

  &__sublist {

    @include media-breakpoint-up(lg) {
      padding-left: 50px !important;
      position: relative;
    }

    &:before {
      @include media-breakpoint-up(lg) {
        content: ' ';
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31.14 18.56'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23fff;stroke-miterlimit:10;%7D.cls-2%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpolyline class='cls-1' points='4.26 4.05 4.26 14.3 27.1 14.3'/%3E%3Cpath class='cls-2' d='M229,144.11a3.76,3.76,0,1,1,3.75,3.76A3.76,3.76,0,0,1,229,144.11Z' transform='translate(-228.54 -139.85)'/%3E%3Cpath class='cls-2' d='M228.54,144.11a4.26,4.26,0,1,0,4.25-4.26,4.26,4.26,0,0,0-4.25,4.26Zm7.51,0a3.26,3.26,0,1,1-3.26-3.26,3.26,3.26,0,0,1,3.26,3.26Z' transform='translate(-228.54 -139.85)'/%3E%3Cpath class='cls-2' d='M255.42,157.91a3.76,3.76,0,1,0-3.76-3.76A3.76,3.76,0,0,0,255.42,157.91Z' transform='translate(-228.54 -139.85)'/%3E%3Cpath class='cls-2' d='M255.42,158.41a4.26,4.26,0,1,1,4.26-4.26,4.26,4.26,0,0,1-4.26,4.26Zm0-7.52a3.26,3.26,0,1,0,3.26,3.26,3.27,3.27,0,0,0-3.26-3.26Z' transform='translate(-228.54 -139.85)'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        position: absolute;
        top: 5px;
        left: 16px;
      }
    }
  }

  &__item {
    color: $navbar-dark-color;
    @include transition($transition-megamenu);

    @include media-breakpoint-up(lg) {
      color: #fff;
      padding: 2rem 0.25rem 2rem;
    }

    &.active,
    &:hover,
    &:focus {
      .nav-link:not(.nav-link--bordered):not(.nav-link--icon) {
        position: relative;

        &:before {
          @include unitize(bottom, -6);
          position: absolute;
          content: ' ';
          transform: translateX(-50%);
          left: 50%;
          @include unitize(font-size, 32);
          @include unitize(line-height, 16);
          line-height: 1rem;
          border-radius: 50%;
          background: #000;
          @include unitize(height, 6);
          @include unitize(width, 6);
        }
      }
    }

    &--dropdown {
      &.active,
      &:hover,
      &:focus,
      &:active {
        .nav-link {
          &:after { // triangle
            top: $spacer;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: #680c3e;
            border-width: $spacer * 2;
            margin-left: $spacer * 2 * -1;

          }
        }

        .megamenu {
          &__dropdown {
            visibility: visible;
            z-index: $zindex-dropdown;
          }
        }
      }
    }

    &--4columns {
      .megamenu__dropdown-content {
        background: -webkit-linear-gradient(90deg, #8d0350 24.25%, rgba(0, 0, 0, 0) 24.25%), linear-gradient(90deg, #84044d 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(90deg, #69013d 75%, #65043a 75%);
        background: -o-linear-gradient(90deg, #8a0050 24.25%, rgba(0, 0, 0, 0) 24.25%), linear-gradient(90deg, #84044d 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(90deg, #69013d 75%, #65043a 75%);
        background: -moz-linear-gradient(90deg, #8a0050 24.25%, rgba(0, 0, 0, 0) 24.25%), linear-gradient(90deg, #84044d 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(90deg, #69013d 75%, #65043a 75%);
        background: linear-gradient(90deg, #8a0050 24.25%, rgba(0, 0, 0, 0) 24.25%), linear-gradient(90deg, #84044d 50%, rgba(0, 0, 0, 0) 50%), linear-gradient(90deg, #69013d 75%, #65043a 75%);
      }
    }
  }

  &__headline {
    font-size: 2rem;
    font-weight: 100;
  }

  p {
    font-weight: 100;
    margin: 0;
    padding: 0;
  }

  &--sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    .megamenu {
      &__logo {
        max-height: 50px;

        @include media-breakpoint-up(lg) {
          &--desktop {
            display: none;
            opacity: 0;
          }
        }

        &--sticky {
          display: flex;
          opacity: 1;
        }

        @include media-breakpoint-up(lg) {
          &--sticky {
            display: none;
            opacity: 0;
          }
          &--small {
            display: flex;
            opacity: 1;

          }
        }
      }

      &__item {
        padding: 0.5rem 0;

        &.active,
        &:hover,
        &:focus {
          .nav-link {
            &:before {
              bottom: 0;
              transform: translateX(-50%);
              left: 50%;
              font-size: 1.5rem;
              line-height: 1rem;
              background: #000;
            }
          }
        }

        &--dropdown {
          &.active,
          &:hover,
          &:focus,
          &:active {
            .nav-link {
              &:after { // triangle
                top: $spacer / 2;
              }
            }
          }
        }
      }

    }
  }
}

body {
  &.megamenu--transparent {
    .megamenu {
      background: transparent;
      box-shadow: none;

      .navbar-toggler {
        color: $navbar-dark-color;
      }

      &__item {
        @include media-breakpoint-up(lg) {
          padding: 4rem 0.25rem 2rem;
        }
        @include hover-focus {
          .nav-link {
            &:before {
              background: #fff;
            }
          }
        }
      }

      &__nav {
        .nav-link {
          color: $white;

          @include hover-focus {
            color: $white;
          }

          .icon {
            color: $white;
          }

          &--bordered {
            border-color: $white;
          }
        }
      }

      &--sticky {
        background: $white;
        box-shadow: $box-shadow;

        .megamenu {

          .navbar-toggler {
            color: $navbar-light-color;
          }

          &__item {
            color: $navbar-dark-color;
            padding: 0.5rem 0;

            @include hover-focus {
              .nav-link {
                &:before {
                  background: #000;
                }
              }
            }
          }

          &__nav {
            .nav-link {
              color: $navbar-light-color;

              .icon {
                color: $navbar-light-color;
              }

              &--bordered {
                border-color: $navbar-light-color;
              }
            }
          }

        }
      }
    }
  }

  &.megamenu--fixed {
    .megamenu {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
    }
  }
}

.mm-spn a {
  font-size: 0.8rem;
}
