@import "../variables";

.card {
    height: 100%;

    &.card--contact {
        position: relative;
        background: transparent;

        img {
            float: left;
            top: 0;
            width: 100%;
        }

        .card-body {
            color: $white;
            position: absolute;
            top: 50%;
            left: 30%;
            height: 100%;
            transform: translateY(-50%);
        }
    }

    &.card--primary {
        background: linear-gradient(to bottom, #8b0052, #6b003b);
        color: white;
        border-radius: 5px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

        h1, h2, h3, h4, h5, h6, p {
            color: white;
        }
    }
}