@import "../variables";

.list--icons {
  li {
    position: relative;
    padding: 0.6rem 0 0.75rem 2.5rem;

    &::before {
      position: absolute;
      @include unitize(left, 16);
      @include unitize(top, 24);
      @include unitize(width, 24);
      @include unitize(height, 24);
      transform: translate(-50%, -50%);
      fill: $primary;
      content: '';
      background-image: url('data:image/svg+xml;utf8,<svg id="Capa_1" enable-background="new 0 0 189.524 189.524" height="512" viewBox="0 0 189.524 189.524" width="512" xmlns="http://www.w3.org/2000/svg"><g><g><path d="m94.762 189.524c-52.253 0-94.762-42.513-94.762-94.762 0-52.253 42.509-94.762 94.762-94.762 52.249 0 94.762 42.509 94.762 94.762 0 52.249-42.513 94.762-94.762 94.762zm0-180.048c-47.025 0-85.286 38.261-85.286 85.286 0 47.029 38.261 85.286 85.286 85.286 47.029 0 85.286-38.256 85.286-85.286 0-47.025-38.257-85.286-85.286-85.286z"/></g><g><path clip-rule="evenodd" d="m127.929 71.072c1.945 1.751 2.103 4.747.353 6.691l-36.134 40.147c-3.631 4.035-9.905 4.2-13.744.361l-16.808-16.809c-1.85-1.85-1.85-4.85 0-6.701s4.85-1.851 6.701 0l13.278 13.278c1.92 1.919 5.056 1.836 6.872-.181l32.791-36.435c1.75-1.944 4.746-2.102 6.691-.351z" fill-rule="evenodd"/></g></g></svg>');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
