@import "../variables";

.nav-pills {

    .nav-link {
        padding: 0.25rem 1rem;

        &.active {
            color: $primary;
            background: transparent;
            border: 2px solid $primary;
        }
    }
}
